body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}
p{
    font-weight: 200;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.btn:active,
.btn:focus,
.btn.active,
.btn:focus:active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:focus:active{
    
}
input, .lbl,.btn{
    font-weight: 300;
    color: #4A4A4A;
}




/*-------------------------------*/


/*           Wrappers            */


/*-------------------------------*/

#hamburger {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    

}

#hamburger.toggled {
    margin-left: 270px;
}

#sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 300;


}

#sidebar-wrapper.toggled {
display: block;
    width: 250px;
    box-shadow: 2px 0 4px 3px rgba(124,122,122,0.20);

}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
    height: 100vh;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}
.sidebar-brand:hover:before,
.sidebar-brand.open:hover:before {
    transition: none;
}
.sidebar-nav .anim:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav .anim:nth-child(2):before {
    background-color: #ec1b5a;
}

.sidebar-nav .anim:nth-child(3):before {
    background-color: #79aefe;
}

.sidebar-nav .anim:nth-child(4):before {
    background-color: #314190;
}

.sidebar-nav .anim:nth-child(5):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}

.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}

.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}

.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav .anim:hover:before,
.sidebar-nav .anim.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #4A4A4A;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 15px;
    line-height: 44px;
    max-width: 60%;
    padding: 10px 0px 10px 30px;
}
.sidebar-brand a{
  margin: 0;
    padding: 0 !important;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding-left: 20px;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}


/*-------------------------------*/


/*            Overlay            */


/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 500;
        overflow: visible;

}


/*-------------------------------*/


/*            Homepage            */


/*-------------------------------*/
.logo{
    display: block;
    max-width: 50vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    text-align: center;
}

.slogan{
    margin-bottom: 5vh;
}
.homepage-background {
    background-image: url(../contenu/images/background.jpg);
    background-size: cover;
    filter: blur(6px);
    transform: scale(1.02);
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.row h1 {
    text-align: center;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
}

#InputText1 {
    width: 100%;
    margin: 0;
}

#search {
    width: 85%;
    padding-right: 0 !important;
    border: none;
    margin: 0;
    display: block;
    float: left;
}



#btn-animate{
            border: none; 
     	transition: all 0.1s;
	-webkit-transition: all 0.1s;
      
 background: #E48787;
	color: #FFF;
	text-decoration: none;
   padding-left: 30px;
    padding-right: 30px;
     padding-top: 15px;
    padding-bottom: 15px;

}

#btn-animate:hover{
          box-shadow: inset 0 -3px  #E74E4E
 !important;

}
#btn-animate:active
{
	background: #E74E4E;
}

#input-home{
    border-radius: 0;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
}


.toggle-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    color: white;
    -webkit-transition: all 0.5s ease;
}

.toggle-down:hover {
    cursor: pointer;
}

/*-------------------------------*/


/*            Switcher            */


/*-------------------------------*/

.switcher {
    position: absolute;
    top: 0;
    right: 2%;
    background-color: #4A4A4A;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

.switch-icon {
    margin: 10px;
    text-align: center;
    color: white;
}

.switch-icon:hover {
    color: red;
    cursor: pointer;
}
.switch-icon:link {
    color: green;
    cursor: pointer;
}

/*-------------------------------*/


/*            Thèmes            */


/*-------------------------------*/
#filters-container{
    height: 100%;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

#filters-container>span>button{

    border: none;
    margin: 5px;
}

#dropdown-theme{
    top:100%;
}
#container-theme{
    position: relative;
    float: left;
    width: auto;
}
.dropdown-item{
    display: block;
}

.agri{
background: #417505;
        color: white;

}

.art{
 background:   #4990E2;
        color: white;

}
.sociale{
    background: #FF7C7C;
        color: white;

}

.educ{
    background: #F6A623;
        color: white;

}
.santé{
    background: #50E3C2;
        color: white;

}

.sports{
    background: #D0011B;
        color: white;

}

.religion{
  background: #4A4A4A;
    color: white;
}
.internat{
    background: #9B9B9B;
        color: white;

}

.loisirs{
   background:  #7ED321;
    color: white;
}
/*-------------------------------*/


/*            Map            */


/*-------------------------------*/

.container-both {
    position: relative;
    height: 100%;
    padding-top: 3vh;
    background-color: white;
    overflow: inherit;
 
}

.search-container {
    text-align: right;
}

.topmap {
    padding: 0;
    height: 80%;

}

.h2map {
    margin-bottom: 10px;
}

.navbar-search {
    padding: 0;
}

#srch-term {
    background: #F0F0F0;
    border: 1px solid #979797;
    border-radius: 0;
}


.btnsrc {
    background: #F0F0F0;
    border: 1px solid #979797;
    border-radius: 0;
    border-left-width: 0px;
}

.fa-search {
    color: #9C8D8D;
}

#mapid {
    position: relative;
    height: 70vh;
}

#container-list {
    padding-bottom: 20px;
    min-height: 100vh;
}


#group-dropd{
   
 padding: 10px;
text-align: right;
    z-index: 3;
    
}
#group-dropd-top{
 padding: 10px;
text-align: right;
    z-index: 4;
    
}

#dropdown-menu-map{
right: 0;
float: right;
left: inherit;}

#map-container{
        width: 100%;
position: absolute;
    top: 0;
z-index: 1;
    height: 70vh;
        border: 2px solid #D1B7B7;

    box-shadow: 0 6px 8px 0 rgba(195,181,181,0.50);
}
.input-group-btn, input-group-btn > .btn{
    border-radius: 8px;
}
.dropdown-menu .divider {
    margin: 4px 0;
   
}
 
.dropdown-menu>li>a {
    padding: 3px 10px;
 
}
/*-------------------------------*/


/*          Boite Assoc          */


/*-------------------------------*/

.assoc-container{
    width: 100%;
    height: 100%;
    /* Rectangle 8 Copy: */
background: #4A4A4A;
border: 1px solid #979797;
box-shadow: 0 2px 4px 0 rgba(88,88,88,0.50);
border-radius: 8px;
padding: 10px;
color: white;

}

.assoc-container .assoc-title{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1.8em;
}

.assoc-container .assoc-category{
    margin-top: 0;
    color: #E8E8E8;
}

.assoc-container .assoc-icon{
    max-width: 10%;
position: absolute;
top: 10px;
right: 10%;
}
i{
    font-weight: 400;
}
/*-------------------------------*/


/*            List            */


/*-------------------------------*/







#list-dropdown{
    padding: 0;
}

#group-dropd-list{
 padding: 0;
    float: left;
  text-align: left;
}

#dropdown-menu-list{
    float: right;
    right: 0;
}

.valider {
    padding: 5px 10px;
    display: inline;
    background: #777 url(button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
    background-color: #e50000;
    }
.valider:hover {
    background-position: 0 -48px;
    }
.valider:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
    }







/*-------------------------------*/


/*            VIEW.PHP            */


/*-------------------------------*/






.row-assoc{
    padding-bottom: 20%;
}
#container-assoc{
    
}

#container-assoc h1{
text-align: left;
color: #4A4A4A;  
    text-transform: none;
    font-size: 3em;
    margin-bottom: 0;
}
#container-assoc h2{
text-align: left;
color: #A8A6A9;  
    text-transform: none;
    margin-top: 0;
    
}

#container-assoc p{
    font-weight: 300;
}

#container-icon img{
    float: right;
    max-width: 40%;
}

#container-similaire{
    background : #F48585;
 
    padding: 50px;
}

.assoc-container-similaire{
    width: 100%;
    height: 100%;
    /* Rectangle 8 Copy: */
background: #4A4A4A;
border: 1px solid #979797;
box-shadow: 0 2px 4px 0 rgba(88,88,88,0.50);
border-radius: 8px;
padding: 10px;
color: white;

}

.assoc-container-similaire .assoc-title{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1.8em;
}

.assoc-container-similaire .assoc-category{
    margin-top: 0;
        font-size: 1em;
        color: #E8E8E8;

font-weight: 400;
}

.assoc-container-similaire .assoc-icon{
    max-width: 8%;
position: absolute;
top: 15px;
right: 10%;
}
i{
    font-weight: 400;
}

.assoc-container-similaire .assoc-description{
    font-size: 1em;
}







/*-------------------------------*/


/*             Stats            */


/*-------------------------------*/



.switcher-stats{
    list-style: none;
}

.switcher-stats a{
      -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;    
    display: inline-block;
    padding:10px 15px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
 
}
.switcher-stats a:hover{
   
    border-radius: 9px;
 
}
.switcher-stats a{
   color: white;
 
}
.switcher-stats a:hover{
text-decoration: none; 
}

.switcher-stats a:active{
border:none; 
        border-bottom: none;

}


.switcher-stats a:focus{
text-decoration: none; 
}
.switcher-stats a:first-child{
    background-color: #7d5d81;}

.switcher-stats a:nth-child(2){
       background-color: #ec1b5a;
}

.switcher-stats a:nth-child(3){
        background-color: #79aefe;

}
.switcher-stats a:nth-child(4){
        background-color: #314190;

}
.switcher-stats a:nth-child(5){
        background-color: #279636;

}

button.example {
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
	height: 35px;
	display: block;
	font-family: Arial, "Helvetica", sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
	padding: 4px 20px 0;
	margin: 10px auto;
	left: 30px;
	position: relative;
	cursor: pointer;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

button.facebook {
	border-left: solid 1px #2E4476;
	background: #3B5999;

	-webkit-box-shadow: 0px 5px 0px 0px #2E4476;
	box-shadow: 0px 5px 0px 0px #2E4476;
}

button.twitter {
	border-left: solid 1px #269BD0;
	background: #46C1F6;

	-webkit-box-shadow: 0px 5px 0px 0px #269BD0;
	box-shadow: 0px 5px 0px 0px #269BD0;
}

button.pinterest {
	border-left: solid 1px #C02B21;
	background: #DE463B;

	-webkit-box-shadow: 0px 5px 0px 0px #C02B21;
	box-shadow: 0px 5px 0px 0px #C02B21;
}

button.yahoo {
	border-left: solid 1px #813781;
	background: #A948A9;

	-webkit-box-shadow: 0px 5px 0px 0px #813781;
	box-shadow: 0px 5px 0px 0px #813781;
}

button.example:active {
	top: 3px;
}

button.facebook:active {
	-webkit-box-shadow: 0px 2px 0px 0px #2E4476;
	box-shadow: 0px 2px 0px 0px #2E4476;
}

button.twitter:active {
	-webkit-box-shadow: 0px 2px 0px 0px #269BD0;
	box-shadow: 0px 2px 0px 0px #269BD0;
}

button.pinterest:active {
	-webkit-box-shadow: 0px 2px 0px 0px #C02B21;
	box-shadow: 0px 2px 0px 0px #C02B21;
}

button.yahoo:active {
	-webkit-box-shadow: 0px 2px 0px 0px #813781;
	box-shadow: 0px 2px 0px 0px #813781;
}

button.example:before {
	content: "1";
	width: 35px;
	height: 25px;
	display: block;
	position: absolute;
	padding-top: 10px;
	line-height: 20px;
	top: 0px;
	margin-left: -54px;
	font-size: 16px;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

button.facebook:before {
	border-right: solid 1px #2E4476;
	background: #3B5999;

	-webkit-box-shadow: 0px 5px 0px 0px #2E4476;
	box-shadow: 0px 5px 0px 0px #2E4476;
}

button.twitter:before {
	border-right: solid 1px #269BD0;
	background: #46C1F6;

	-webkit-box-shadow: 0px 5px 0px 0px #269BD0;
	box-shadow: 0px 5px 0px 0px #269BD0;
}

button.pinterest:before {
	border-right: solid 1px #C02B21;
	background: #DE463B;

	-webkit-box-shadow: 0px 5px 0px 0px #C02B21;
	box-shadow: 0px 5px 0px 0px #C02B21;
}

button.yahoo:before {
	border-right: solid 1px #813781;
	background: #A948A9;

	-webkit-box-shadow: 0px 5px 0px 0px #813781;
	box-shadow: 0px 5px 0px 0px #813781;
}

button.example:active:before {
	top: -3px;
}

button.facebook:active:before {
	-webkit-box-shadow: 0px 5px 0px 0px #2E4476, 6px 4px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 0px 0px #2E4476, 6px 4px 2px rgba(0,0,0,0.3);
}

button.twitter:active:before {
	-webkit-box-shadow: 0px 5px 0px 0px #269BD0, 6px 4px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 0px 0px #269BD0, 6px 4px 2px rgba(0,0,0,0.3);
}

button.pinterest:active:before {
	-webkit-box-shadow: 0px 5px 0px 0px #C02B21, 6px 4px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 0px 0px #C02B21, 6px 4px 2px rgba(0,0,0,0.3);
}

button.yahoo:active:before {
	-webkit-box-shadow: 0px 5px 0px 0px #813781, 6px 4px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 0px 0px #813781, 6px 4px 2px rgba(0,0,0,0.3);
}



